/* @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Quicksand&display=swap'); */

.App {
  text-align: center;
}

/* this grouping is for the navbar classes */
.navbar {
  background-color: #01eeff;
}

.brand {
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-size: xx-large;
  color: #4F0359;
}

.navLink {
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style:normal;
  font-size: x-large;
}

.navLink:hover {
  color: white;
}

/* grouping for mainpage, which is the landing page */
.main {
  text-align: center;
  height: 83vh;
}

/* actual image from main page */
.imageFrame {
  height: 83vh;
}

/* jumbotron */
.jumbotron {
  background-color: #2efbff;
  color: #3d0773;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  padding: 3%;
}

h3 {
  font-size:x-large;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 2em;
  color: #3d0773;
}

/* profile page */
.profile {
  min-height: 84vh;
  color: #3d0773;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.currenttask {
  min-height: 84vh;
  color: #3d0773;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

/* rules page */
.rules {
  min-height: 60vh ;
  text-align: center;
  min-height: 100vh;
}

.rulecard {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: bolder;
  background-color: #01eeff;
  color:#3d0773;
}

.newJest {
  color:#3d0773;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 12%;
  padding-right: 12%;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  font-size: 125%;
}

.newJest form {
  /* width: 80vw; */
}

.jestBtn {
  color: white;
  background-color: #3d0773;
}

