@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Quicksand&display=swap');

.App {
  text-align: center;
}

/* this grouping is for the navbar classes */
.navbar {
  background-color: #01eeff;
}

.brand {
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-size: xx-large;
  color: #4F0359;
}

.navLink {
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style:normal;
  font-size: x-large;
}

.navLink:hover {
  color: white;
}

/* grouping for mainpage, which is the landing page */
.main {
  text-align: center;
  height: 83vh;
}

/* actual image from main page */
.imageFrame {
  height: 83vh;
}

/* jumbotron */
.jumbotron {
  background-color: #2efbff;
  color: #3d0773;
  width: 50%;
  margin: auto;
  border-radius: 10px;
}

h3 {
  font-size:x-large;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 2em;
  color: #3d0773;
}


.profile {
  min-height: 84vh;
  color: #3d0773;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.currenttask {
  min-height: 84vh;
  
}


.rules {
  color: #19FF5A;
  min-height: 60vh ;
  font-family: bookman;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  min-height: 100vh;
}

.rulecard {
  background-color: #18B532;
  color:#4F0359;
}






.submissionTitle {
  font-family: 'Quicksand', sans-serif;
}
.newJest {
  color:#3d0773;
  /* padding-bottom: 3vh; */
  padding: 7%;
  width: 100%;
}
.newJest form {
  /* width: 80vw; */
}
.jestBtn {
  color:#F2B441;
}
/* .jestsTitle {
  color: #F2B441;

  font-family: 'Quicksand', sans-serif;
} */
